[plain] view plaincopy
#过滤数据库文件、sln 解决方案文件、配置文件
#*.mdb
#*.ldb
#*.sln
#*.config
*.tmp
*.bak
*.dep
*.sfr
Backup*
*.tmp.c


#过滤文件夹 Debug,Release,obj  
Debug/
obj/
.vscode/
settings/
Release/
FN15_Debug/
FN15_Release/
FX15_Debug/
FX15_Release/
DZ10_Debug/
DZ10_Release/